In [32]:
import pandas as pd

In [2]:
data = pd.read_csv('RatingsInput.csv')

In [4]:
user_data=pd.read_csv('NewUsers.csv')

In [6]:
new_movie_data=data.copy()

In [8]:
# Split the moviename by comma
new_movie_data['MovieName'] = new_movie_data['MovieName'].str.split(',')

In [9]:
new_movie_data

,UserID,UserName,UserAge,MovieID,MovieName,Rating
0,1,Adam,15,NaN,"[1, dinosaur planet]",3
1,2,Amir,20,NaN,"[2, isle of man tt 2004 review]",2
2,3,Brad,25,NaN,"[3, character]",1
3,4,Krishna,35,NaN,"[4, paula abdul's get up & dance]",4
4,5,Sangy,21,NaN,"[5, the rise and fall of ecw]",5
5,6,Mandar,36,NaN,"[6, sick]",4
6,7,Pushkar,19,NaN,"[7, 8 man]",3
7,8,Gary,20,NaN,"[8, what the hell do we know!?]",2
8,9,Ghalia,40,NaN,"[9, class of nuke 'em high 2]",1
9,10,Ana,13,NaN,"[10, fighter]",2
10,4,Krishna,35,NaN,"[11, full frame: documentary shorts]",3
11,5,Sangy,21,NaN,"[12, my favorite brunette]",4
12,6,Mandar,36,NaN,"[13, lord of the rings: the return of the king...",5
13,7,Pushkar,19,NaN,"[14, nature: antarctica]",2
14,1,Adam,15,NaN,"[15, neil diamond: greatest hits live]",2
15,2,Amir,20,NaN,"[16, screamers]",3
16,3,Brad,25,NaN,"[17, 7 seconds]",4
17,4,Krishna,35,NaN,"[18, immortal beloved]",2
18,5,Sangy,21,NaN,"[19, by dawn's early light]",3
19,8,Gary,20,NaN,"[20, seeta aur geeta]",4
20,9,Ghalia,40,NaN,"[21, strange relations]",4
21,10,Ana,13,NaN,"[22, chump change]",5
22,4,Krishna,35,NaN,"[23, clifford: clifford saves the day! cliffor...",4
23,2,Amir,20,NaN,"[24, my bloody valentine]",3
24,3,Brad,25,NaN,"[25, inspector morse 31: death is now my neigh...",2
25,4,Krishna,35,NaN,"[26, never die alone]",4
26,5,Sangy,21,NaN,"[27, sesame street: elmo's world: the street w...",5
27,6,Mandar,36,NaN,"[28, lilo and stitch]",3
28,7,Pushkar,19,NaN,"[29, boycott]",3
29,8,Gary,20,NaN,"[30, something's gotta give]",4
30,9,Ghalia,40,NaN,"[31, classic albums: meat loaf: bat out of hell]",5
31,10,Ana,13,NaN,"[32, abc primetime: mel gibson's the passion o...",2
32,4,Krishna,35,NaN,"[33, aqua teen hunger force: vol. 1]",1
33,5,Sangy,21,NaN,"[34, ashtanga yoga: beginner's practice with n...",2
34,6,Mandar,36,NaN,"[35, ferngully 2: the magical rescue]",3
35,1,Adam,15,NaN,"[36, lady chatterley]",3
36,2,Amir,20,NaN,"[37, zatoichi's conspiracy]",5
37,3,Brad,25,NaN,"[38, daydream obsession]",5
38,4,Krishna,35,NaN,"[39, love reinvented]",5
39,5,Sangy,21,NaN,"[40, pitcher and the pin-up]",3
40,6,Mandar,36,NaN,"[41, horror vision]",2
41,7,Pushkar,19,NaN,"[42, searching for paradise]",3
42,8,Gary,20,NaN,"[43, silent service]",4
43,9,Ghalia,40,NaN,"[44, spitfire grill]",2
44,10,Ana,13,NaN,"[45, the love letter]",1
45,4,Krishna,35,NaN,"[46, rudolph the red-nosed reindeer]",3
46,5,Sangy,21,NaN,"[47, the bad and the beautiful]",4
47,6,Mandar,36,NaN,"[48, justice league]",5
48,7,Pushkar,19,NaN,"[49, devo: the complete truth about de-evolution]",3
49,1,Adam,15,NaN,"[50, a yank in the raf]",2
50,7,Pushkar,19,NaN,"[51, jonah: a veggietales movie: bonus material]",3
51,8,Gary,20,NaN,"[52, the weather underground]",4
52,9,Ghalia,40,NaN,"[53, the bonesetter]",5
53,10,Ana,13,NaN,"[54, we're not married]",3
54,4,Krishna,35,NaN,"[55, jade]",3
55,5,Sangy,21,NaN,"[56, carandiru]",1
56,6,Mandar,36,NaN,"[57, richard iii]",2
57,7,Pushkar,19,NaN,"[58, dragonheart]",3
58,1,Adam,15,NaN,"[59, sex and the beauties]",4
59,7,Pushkar,19,NaN,"[60, the libertine]",5

In [10]:
# Extra the movie id 
new_movie_data['MovieID'] = new_movie_data['MovieName'].apply(lambda x: x[0])

In [11]:
new_movie_data

,UserID,UserName,UserAge,MovieID,MovieName,Rating
0,1,Adam,15,1,"[1, dinosaur planet]",3
1,2,Amir,20,2,"[2, isle of man tt 2004 review]",2
2,3,Brad,25,3,"[3, character]",1
3,4,Krishna,35,4,"[4, paula abdul's get up & dance]",4
4,5,Sangy,21,5,"[5, the rise and fall of ecw]",5
5,6,Mandar,36,6,"[6, sick]",4
6,7,Pushkar,19,7,"[7, 8 man]",3
7,8,Gary,20,8,"[8, what the hell do we know!?]",2
8,9,Ghalia,40,9,"[9, class of nuke 'em high 2]",1
9,10,Ana,13,10,"[10, fighter]",2
10,4,Krishna,35,11,"[11, full frame: documentary shorts]",3
11,5,Sangy,21,12,"[12, my favorite brunette]",4
12,6,Mandar,36,13,"[13, lord of the rings: the return of the king...",5
13,7,Pushkar,19,14,"[14, nature: antarctica]",2
14,1,Adam,15,15,"[15, neil diamond: greatest hits live]",2
15,2,Amir,20,16,"[16, screamers]",3
16,3,Brad,25,17,"[17, 7 seconds]",4
17,4,Krishna,35,18,"[18, immortal beloved]",2
18,5,Sangy,21,19,"[19, by dawn's early light]",3
19,8,Gary,20,20,"[20, seeta aur geeta]",4
20,9,Ghalia,40,21,"[21, strange relations]",4
21,10,Ana,13,22,"[22, chump change]",5
22,4,Krishna,35,23,"[23, clifford: clifford saves the day! cliffor...",4
23,2,Amir,20,24,"[24, my bloody valentine]",3
24,3,Brad,25,25,"[25, inspector morse 31: death is now my neigh...",2
25,4,Krishna,35,26,"[26, never die alone]",4
26,5,Sangy,21,27,"[27, sesame street: elmo's world: the street w...",5
27,6,Mandar,36,28,"[28, lilo and stitch]",3
28,7,Pushkar,19,29,"[29, boycott]",3
29,8,Gary,20,30,"[30, something's gotta give]",4
30,9,Ghalia,40,31,"[31, classic albums: meat loaf: bat out of hell]",5
31,10,Ana,13,32,"[32, abc primetime: mel gibson's the passion o...",2
32,4,Krishna,35,33,"[33, aqua teen hunger force: vol. 1]",1
33,5,Sangy,21,34,"[34, ashtanga yoga: beginner's practice with n...",2
34,6,Mandar,36,35,"[35, ferngully 2: the magical rescue]",3
35,1,Adam,15,36,"[36, lady chatterley]",3
36,2,Amir,20,37,"[37, zatoichi's conspiracy]",5
37,3,Brad,25,38,"[38, daydream obsession]",5
38,4,Krishna,35,39,"[39, love reinvented]",5
39,5,Sangy,21,40,"[40, pitcher and the pin-up]",3
40,6,Mandar,36,41,"[41, horror vision]",2
41,7,Pushkar,19,42,"[42, searching for paradise]",3
42,8,Gary,20,43,"[43, silent service]",4
43,9,Ghalia,40,44,"[44, spitfire grill]",2
44,10,Ana,13,45,"[45, the love letter]",1
45,4,Krishna,35,46,"[46, rudolph the red-nosed reindeer]",3
46,5,Sangy,21,47,"[47, the bad and the beautiful]",4
47,6,Mandar,36,48,"[48, justice league]",5
48,7,Pushkar,19,49,"[49, devo: the complete truth about de-evolution]",3
49,1,Adam,15,50,"[50, a yank in the raf]",2
50,7,Pushkar,19,51,"[51, jonah: a veggietales movie: bonus material]",3
51,8,Gary,20,52,"[52, the weather underground]",4
52,9,Ghalia,40,53,"[53, the bonesetter]",5
53,10,Ana,13,54,"[54, we're not married]",3
54,4,Krishna,35,55,"[55, jade]",3
55,5,Sangy,21,56,"[56, carandiru]",1
56,6,Mandar,36,57,"[57, richard iii]",2
57,7,Pushkar,19,58,"[58, dragonheart]",3
58,1,Adam,15,59,"[59, sex and the beauties]",4
59,7,Pushkar,19,60,"[60, the libertine]",5

In [12]:
# Extract MovieName
new_movie_data['MovieName'] = new_movie_data['MovieName'].apply(lambda x: x[1])

In [13]:
new_movie_data

,UserID,UserName,UserAge,MovieID,MovieName,Rating
0,1,Adam,15,1,dinosaur planet,3
1,2,Amir,20,2,isle of man tt 2004 review,2
2,3,Brad,25,3,character,1
3,4,Krishna,35,4,paula abdul's get up & dance,4
4,5,Sangy,21,5,the rise and fall of ecw,5
5,6,Mandar,36,6,sick,4
6,7,Pushkar,19,7,8 man,3
7,8,Gary,20,8,what the hell do we know!?,2
8,9,Ghalia,40,9,class of nuke 'em high 2,1
9,10,Ana,13,10,fighter,2
10,4,Krishna,35,11,full frame: documentary shorts,3
11,5,Sangy,21,12,my favorite brunette,4
12,6,Mandar,36,13,lord of the rings: the return of the king: ext...,5
13,7,Pushkar,19,14,nature: antarctica,2
14,1,Adam,15,15,neil diamond: greatest hits live,2
15,2,Amir,20,16,screamers,3
16,3,Brad,25,17,7 seconds,4
17,4,Krishna,35,18,immortal beloved,2
18,5,Sangy,21,19,by dawn's early light,3
19,8,Gary,20,20,seeta aur geeta,4
20,9,Ghalia,40,21,strange relations,4
21,10,Ana,13,22,chump change,5
22,4,Krishna,35,23,clifford: clifford saves the day! clifford's f...,4
23,2,Amir,20,24,my bloody valentine,3
24,3,Brad,25,25,inspector morse 31: death is now my neighbour,2
25,4,Krishna,35,26,never die alone,4
26,5,Sangy,21,27,sesame street: elmo's world: the street we liv...,5
27,6,Mandar,36,28,lilo and stitch,3
28,7,Pushkar,19,29,boycott,3
29,8,Gary,20,30,something's gotta give,4
30,9,Ghalia,40,31,classic albums: meat loaf: bat out of hell,5
31,10,Ana,13,32,abc primetime: mel gibson's the passion of the...,2
32,4,Krishna,35,33,aqua teen hunger force: vol. 1,1
33,5,Sangy,21,34,ashtanga yoga: beginner's practice with nicki ...,2
34,6,Mandar,36,35,ferngully 2: the magical rescue,3
35,1,Adam,15,36,lady chatterley,3
36,2,Amir,20,37,zatoichi's conspiracy,5
37,3,Brad,25,38,daydream obsession,5
38,4,Krishna,35,39,love reinvented,5
39,5,Sangy,21,40,pitcher and the pin-up,3
40,6,Mandar,36,41,horror vision,2
41,7,Pushkar,19,42,searching for paradise,3
42,8,Gary,20,43,silent service,4
43,9,Ghalia,40,44,spitfire grill,2
44,10,Ana,13,45,the love letter,1
45,4,Krishna,35,46,rudolph the red-nosed reindeer,3
46,5,Sangy,21,47,the bad and the beautiful,4
47,6,Mandar,36,48,justice league,5
48,7,Pushkar,19,49,devo: the complete truth about de-evolution,3
49,1,Adam,15,50,a yank in the raf,2
50,7,Pushkar,19,51,jonah: a veggietales movie: bonus material,3
51,8,Gary,20,52,the weather underground,4
52,9,Ghalia,40,53,the bonesetter,5
53,10,Ana,13,54,we're not married,3
54,4,Krishna,35,55,jade,3
55,5,Sangy,21,56,carandiru,1
56,6,Mandar,36,57,richard iii,2
57,7,Pushkar,19,58,dragonheart,3
58,1,Adam,15,59,sex and the beauties,4
59,7,Pushkar,19,60,the libertine,5

In [53]:
new_movie_data.to_csv('Task1-MovieCleanData.csv')

# Task2

In [15]:
new_movie_data2 = new_movie_data.copy()

In [64]:
new_movie_data2['MovieName'] = new_movie_data2['MovieName'].apply(lambda x : x.title())
new_movie_data2

,UserID,UserName,UserAge,MovieID,MovieName,Rating
0,1,Adam,15,1,Dinosaur Planet,3
1,2,Amir,20,2,Isle Of Man Tt 2004 Review,2
2,3,Brad,25,3,Character,1
3,4,Krishna,35,4,Paula Abdul'S Get Up & Dance,4
4,5,Sangy,21,5,The Rise And Fall Of Ecw,5
5,6,Mandar,36,6,Sick,4
6,7,Pushkar,19,7,8 Man,3
7,8,Gary,20,8,What The Hell Do We Know!?,2
8,9,Ghalia,40,9,Class Of Nuke 'Em High 2,1
9,10,Ana,13,10,Fighter,2
10,4,Krishna,35,11,Full Frame: Documentary Shorts,3
11,5,Sangy,21,12,My Favorite Brunette,4
12,6,Mandar,36,13,Lord Of The Rings: The Return Of The King: Ext...,5
13,7,Pushkar,19,14,Nature: Antarctica,2
14,1,Adam,15,15,Neil Diamond: Greatest Hits Live,2
15,2,Amir,20,16,Screamers,3
16,3,Brad,25,17,7 Seconds,4
17,4,Krishna,35,18,Immortal Beloved,2
18,5,Sangy,21,19,By Dawn'S Early Light,3
19,8,Gary,20,20,Seeta Aur Geeta,4
20,9,Ghalia,40,21,Strange Relations,4
21,10,Ana,13,22,Chump Change,5
22,4,Krishna,35,23,Clifford: Clifford Saves The Day! Clifford'S F...,4
23,2,Amir,20,24,My Bloody Valentine,3
24,3,Brad,25,25,Inspector Morse 31: Death Is Now My Neighbour,2
25,4,Krishna,35,26,Never Die Alone,4
26,5,Sangy,21,27,Sesame Street: Elmo'S World: The Street We Liv...,5
27,6,Mandar,36,28,Lilo And Stitch,3
28,7,Pushkar,19,29,Boycott,3
29,8,Gary,20,30,Something'S Gotta Give,4
30,9,Ghalia,40,31,Classic Albums: Meat Loaf: Bat Out Of Hell,5
31,10,Ana,13,32,Abc Primetime: Mel Gibson'S The Passion Of The...,2
32,4,Krishna,35,33,Aqua Teen Hunger Force: Vol. 1,1
33,5,Sangy,21,34,Ashtanga Yoga: Beginner'S Practice With Nicki ...,2
34,6,Mandar,36,35,Ferngully 2: The Magical Rescue,3
35,1,Adam,15,36,Lady Chatterley,3
36,2,Amir,20,37,Zatoichi'S Conspiracy,5
37,3,Brad,25,38,Daydream Obsession,5
38,4,Krishna,35,39,Love Reinvented,5
39,5,Sangy,21,40,Pitcher And The Pin-Up,3
40,6,Mandar,36,41,Horror Vision,2
41,7,Pushkar,19,42,Searching For Paradise,3
42,8,Gary,20,43,Silent Service,4
43,9,Ghalia,40,44,Spitfire Grill,2
44,10,Ana,13,45,The Love Letter,1
45,4,Krishna,35,46,Rudolph The Red-Nosed Reindeer,3
46,5,Sangy,21,47,The Bad And The Beautiful,4
47,6,Mandar,36,48,Justice League,5
48,7,Pushkar,19,49,Devo: The Complete Truth About De-Evolution,3
49,1,Adam,15,50,A Yank In The Raf,2
50,7,Pushkar,19,51,Jonah: A Veggietales Movie: Bonus Material,3
51,8,Gary,20,52,The Weather Underground,4
52,9,Ghalia,40,53,The Bonesetter,5
53,10,Ana,13,54,We'Re Not Married,3
54,4,Krishna,35,55,Jade,3
55,5,Sangy,21,56,Carandiru,1
56,6,Mandar,36,57,Richard Iii,2
57,7,Pushkar,19,58,Dragonheart,3
58,1,Adam,15,59,Sex And The Beauties,4
59,7,Pushkar,19,60,The Libertine,5

# Task 3

In [19]:
new_movie_data3 = new_movie_data2[['UserAge','MovieName','Rating']]

In [20]:
new_movie_data3.groupby('UserAge')

In [21]:
new_movie_data3 = new_movie_data3.sort_values(by=['Rating'], ascending = False)

In [22]:
new_movie_data3

    UserAge                                          MovieName  Rating
30       40         Classic Albums: Meat Loaf: Bat Out Of Hell       5
12       36  Lord Of The Rings: The Return Of The King: Ext...       5
52       40                                     The Bonesetter       5
47       36                                     Justice League       5
38       35                                    Love Reinvented       5
37       25                                 Daydream Obsession       5
36       20                              Zatoichi'S Conspiracy       5
26       21  Sesame Street: Elmo'S World: The Street We Liv...       5
21       13                                       Chump Change       5
59       19                                      The Libertine       5
4        21                           The Rise And Fall Of Ecw       5
22       35  Clifford: Clifford Saves The Day! Clifford'S F...       4
42       20                                     Silent Service       4
58       15                               Sex And The Beauties       4
5        36                                               Sick       4
16       25                                          7 Seconds       4
51       20                            The Weather Underground       4
29       20                             Something'S Gotta Give       4
19       20                                    Seeta Aur Geeta       4
20       40                                  Strange Relations       4
11       21                               My Favorite Brunette       4
3        35                       Paula Abdul'S Get Up & Dance       4
46       21                          The Bad And The Beautiful       4
25       35                                    Never Die Alone       4
39       21                             Pitcher And The Pin-Up       3
41       19                             Searching For Paradise       3
10       35                     Full Frame: Documentary Shorts       3
45       35                     Rudolph The Red-Nosed Reindeer       3
48       19        Devo: The Complete Truth About De-Evolution       3
50       19         Jonah: A Veggietales Movie: Bonus Material       3
53       13                                  We'Re Not Married       3
54       35                                               Jade       3
57       19                                        Dragonheart       3
6        19                                              8 Man       3
35       15                                    Lady Chatterley       3
34       36                    Ferngully 2: The Magical Rescue       3
28       19                                            Boycott       3
15       20                                          Screamers       3
18       21                              By Dawn'S Early Light       3
27       36                                    Lilo And Stitch       3
23       20                                My Bloody Valentine       3
0        15                                    Dinosaur Planet       3
49       15                                  A Yank In The Raf       2
9        13                                            Fighter       2
13       19                                 Nature: Antarctica       2
56       36                                        Richard Iii       2
14       15                   Neil Diamond: Greatest Hits Live       2
17       35                                   Immortal Beloved       2
1        20                         Isle Of Man Tt 2004 Review       2
40       36                                      Horror Vision       2
33       21  Ashtanga Yoga: Beginner'S Practice With Nicki ...       2
24       25      Inspector Morse 31: Death Is Now My Neighbour       2
7        20                         What The Hell Do We Know!?       2
43       40                                     Spitfire Grill       2
31       13  Abc Primetime: Mel Gibson'S The Passion Of The...       2
8        40                           Class Of Nuke 'Em High 2       1
2        25                                          Character       1
32       35                     Aqua Teen Hunger Force: Vol. 1       1
55       21                                          Carandiru       1
44       13                                    The Love Letter       1

In [23]:
# Create the dictionary 
total_list = []
for user_name, user in new_movie_data3.groupby('UserAge'):
    lst = {movie['Rating']: movie['MovieName'] for _, movie in user.iterrows()}
    total_list.append({user_name: lst})

In [24]:
total_list

[{13: {5: 'Chump Change',
   3: "We'Re Not Married",
   2: "Abc Primetime: Mel Gibson'S The Passion Of The Christ",
   1: 'The Love Letter'}},
 {15: {4: 'Sex And The Beauties',
   3: 'Dinosaur Planet',
   2: 'Neil Diamond: Greatest Hits Live'}},
 {19: {5: 'The Libertine', 3: 'Boycott', 2: 'Nature: Antarctica'}},
 {20: {5: "Zatoichi'S Conspiracy",
   4: 'Seeta Aur Geeta',
   3: 'My Bloody Valentine',
   2: 'What The Hell Do We Know!?'}},
 {21: {5: 'The Rise And Fall Of Ecw',
   4: 'The Bad And The Beautiful',
   3: "By Dawn'S Early Light",
   2: "Ashtanga Yoga: Beginner'S Practice With Nicki Doane",
   1: 'Carandiru'}},
 {25: {5: 'Daydream Obsession',
   4: '7 Seconds',
   2: 'Inspector Morse 31: Death Is Now My Neighbour',
   1: 'Character'}},
 {35: {5: 'Love Reinvented',
   4: 'Never Die Alone',
   3: 'Jade',
   2: 'Immortal Beloved',
   1: 'Aqua Teen Hunger Force: Vol. 1'}},
 {36: {5: 'Justice League',
   4: 'Sick',
   3: 'Lilo And Stitch',
   2: 'Horror Vision'}},
 {40: {5: 'The Bonesetter',
   4: 'Strange Relations',
   2: 'Spitfire Grill',
   1: "Class Of Nuke 'Em High 2"}}]

In [50]:
# Get the keys from dictionary
def getList(dict): 
    list = [] 
    for key in dict.keys(): 
        list.append(key) 
    return list

age_list = []
def movies(user_age, movie_num):
    # Extract the user_age in the map above
    for i in total_list:
        age_list.append(getList(i))
    # Find the closest num in the list
    user_age = min(age_list, key=lambda x:abs(x[0]-user_age))
    # Find the movies based on the conditions
    for i in total_list:
        if user_age[0] in i:
            out = dict(list(i[user_age[0]].items())[0: movie_num])
            return str(out.values())
        
new_user_data = user_data.copy()

#----------Function Application----------
user_age_list = []
movie_nums = []
for i in new_user_data['UserAge']:
    user_age_list.append(i)
for j in new_user_data['NoOfMoviesToRecommend']:
    movie_nums.append(j)

actual_movies = []
for i in range(len(user_age_list)):
    x = movies(user_age_list[i], movie_nums[i])
    actual_movies.append(x)

new_user_data['Movies'] = actual_movies
# Adjust data to required format
new_user_data['Movies'] = new_user_data['Movies'].apply(lambda x:x.replace('dict_values',''))
new_user_data['Movies'] = new_user_data['Movies'].apply(lambda x:x.replace('[','').replace(']','').replace('(','').replace(')','').replace("'",'').replace('"',''))
new_user_data

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

,UserName,UserAge,NoOfMoviesToRecommend,Movies
0,Xin,20,2,"ZatoichiS Conspiracy, Seeta Aur Geeta"
1,Erin,24,1,Daydream Obsession
2,Sri,37,3,"Justice League, Sick, Lilo And Stitch"
3,Tyler,28,4,"Daydream Obsession, 7 Seconds, Inspector Morse..."
4,Nick,23,2,"The Rise And Fall Of Ecw, The Bad And The Beau..."
5,Aroshi,12,1,Chump Change
6,Vicky,15,3,"Sex And The Beauties, Dinosaur Planet, Neil Di..."

In [52]:
new_user_data.to_csv('Task5-TargetMovies.csv')